<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body>
	<div class="page-wrapper default-theme sidebar-bg bg1 toggled">
		<nav th:replace="layout :: frgSideBar"></nav>
		<main class="page-content pt-2 ">
			<h4 class="m-3" th:text="${title}"></h4>

			<div class="container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Contrato</th>
							<th>Email</th>

							<th><a th:href="@{/usuario/create}"
								class="btn btn-sm ml-2 btn-success" type="reset"><i
									class="fas fa-plus"></i> &nbsp;Nuevo</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${usuarios}">
							<td th:text="${a.nombres}"></td>
							<td th:text="${a.apellido}"></td>
							<td th:text="${a.contrato}"></td>
							<td th:text="${a.email}"></td>


							<td><a th:href="@{/usuario/update/}+${a.id}"
								class="btn btn-sm ml-2 btn-warning"><i
									class="fas fa-pen"></i> &nbsp;Actualizar</a> <a
								th:href="@{/usuario/retrieve/}+${a.id}"
								class="btn btn-sm ml-2 btn-info"><i
									class="fas fa-info"></i> &nbsp;Consultar</a>
								<button th:onclick="|alertDeleteUsuario(${a.id});|"
									class="btn btn-sm ml-2 btn-danger">
									<i class="fas fa-trash-alt"></i>
								</button></td>
						</tr>
					</tbody>
				</table>

			</div>
		</main>
	</div>
	<footer th:replace="layout :: frgFooter"></footer>
	<script th:src="@{/assets/js/usuario/delete-usuario.js}"></script>

</body>
</html>
