
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<form id="frmConsumoMenu" th:action="@{/consumo/add}"
		th:object="${consumo_menu}" method="post">
		<hr>
		<h5>Menú</h5>

<input list="dataMenu" class="form-control" id="nameinput"
			th:field=*{menu.nombre} onchange="searchById();">
		<datalist id="dataMenu">
			<option th:each="u : ${menus}" th:value="${u.nombre}"
				th:label="${u}">
		</datalist>

		<!-- <div class="col-sm-6 mb-3 mb-sm-0">
			<h5>Menu</h5>
			<select class="form-control" th:field=*{menu.id}>
				<option value=0>-- Seleccione --</option>
				<option th:each="u : ${menus}" th:value="${u.id}" th:text="${u}"></option>
			</select>
		</div>

 -->
 
 	<select th:field="*{menuid}" class="form-control invisible">
		</select> 
 
			<input type="number" class="form-control form-control-user"
				th:field="*{cantidadMenu}" placeholder="Cantidad de Consumo">


	</form>
	
</body>

</html>