<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<form id="frmMenuProducto" th:action="@{/menu/add}"
		th:object="${menu_producto}" method="post">

		<h5>Ingrediente</h5>

		<input list="dataProducto" class="form-control" id="nameinput"
			th:field=*{producto.nombre} onchange="searchById();">
		<datalist id="dataProducto">
			<option th:each="u : ${productos}" th:value="${u.nombre}"
				th:label="${u}">
		</datalist>

<hr>
		<select th:field="*{productoid}" class="form-control invisible">
		</select>
		 <input type="number" class="form-control form-control-user"
			th:field="*{cantidadProducto}" placeholder="Cantidad de Producto"
			min=1>



	</form>

</body>

</html>